<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="success">{{slogan}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-title text-capitalize="" color="success">
    <ion-icon name="arrow-dropright"></ion-icon> revue de presse
  </ion-title>

  <ion-card class="welcome-card" *ngFor="let presse of presses">
    <ion-card-header>
      <ion-card-subtitle>{{presse.titre}}</ion-card-subtitle>
    </ion-card-header>
    <iframe [src]="presse.video" allowfullscreen allowtransparency="" allowusermedia></iframe>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement des données">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
