<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="success">{{slogan}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="">
  <ion-title text-capitalize="" color="success">
    <ion-icon name="arrow-dropright"></ion-icon> à LA UNE
  </ion-title>

  <ion-card class="welcome-card">
    <div>
      <ion-img [src]="actualite.photo" (click)="onActualiteDetail(actualite)"></ion-img>
      <div style="position:absolute; bottom: 0px;
        padding:10px; background-color: rgba(0,0,0,0.5);
        color: white; font-size: 1.2em">
        {{ actualite.titre}}
      </div>
    </div>
  </ion-card>

  <ion-card *ngFor="let actualite of actualites">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img [src]="actualite?.photo" (click)="onActualiteDetail(actualite)"></ion-img>
        </ion-col>
        <ion-col>
          {{ actualite?.titre}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement des données">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
